.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.about>img{
    height: 220px;
    width: 400px;
    margin-bottom: 50px;
}
.about>p{
    margin: 4px;
    font-size: 20px;
}
.about>ul{
    margin: 2px;
}
.about>ul>li{
    font-size: 19px;
}
.about>h1{
    color: aqua;
    margin-bottom: 30px;
}
.about>img:hover{
    transform: scale(1.01);
}
.about>p:hover{
    transform: scale(1.01);
}
.about>ul>li:hover{
    transform: scale(1.01);
}
.about>h2{
    margin-bottom: -9px;
}