.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
img{
    height: 220px;
    width: 400px;
    margin-bottom: 50px;
    background-color: palegreen;
}
p{
    margin: 4px;
    font-size: 20px;
}
ul{
    margin: 2px;
}
li{
    font-size: 19px;
}