.references{
    color: white;
    padding-left: 40px;
}
.references>p{
    margin: 4px;
    font-size: 20px;
}
.references>ul{
    margin: 2px;
}
.references>ul>li{
    font-size: 19px;
}
.references>ul>li>a{
    color: aquamarine;
}
.references>h2{
    display: flex;
    color: fuchsia;
}
.overflow{
    overflow-x: scroll;
}